// COLORS

    //PRIMARY
    $darkBlue: hsl(233, 26%, 24%);
    $limeGreen: hsl(136, 65%, 51%);
    $brightCyan: hsl(192, 70%, 51%);

    //NEUTRAL
    $greyishBlue: hsl(233, 8%, 62%);
    $lightGreyishBlue: hsl(220, 16%, 96%);
    $veryLightGrey: hsl(0, 0%, 98%);
    $white: hsl(0, 0%, 100%);

// FONT SIZES

$font-med: 1.125rem; // 18px
$font-sm: 0.875rem; // 14px
